.fidentis-logo__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 4em;
}

.homepage-form__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .homepage-action-buttons__container {
    display: flex;
    justify-content: space-between;
  }
}

