.analyze__button.Mui-disabled svg path {
	stroke: #bdbdbd;
	&:nth-child(2),
	&:nth-child(3) {
		fill: #bdbdbd;
	}
}

.analyze__button svg path:nth-child(2),
.analyze__button svg path:nth-child(3) {
	fill: #000;
}

.remove-face__icon.Mui-disabled svg path {
	fill: #bdbdbd;
}
