.face-tabs button[role="tab"] {
  min-height: 48px;
  svg path {
    fill: rgba(0, 0, 0, 0.6);
  }
  &.Mui-selected {
    background-color: rgba(38, 156, 146, 0.13);
    transition: .2s background-color ease-in-out;
    svg path {
      fill: #0D4E48;
    }
  }
}

.project-tabs button[role="tab"] {
  padding: 12px 4px 12px 12px;
  .close-button {
    padding-top: 3px;
  }
  &.Mui-selected .close-button{
    color: #0D4E48;
  }
}