#change-password__paper {
  position: absolute;
  padding: 24px;
  z-index: -1;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 50%;
  transition: all .3s ease-in-out;
}

#user-detail__stack {
  padding: 16px 40px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(38, 156, 146, 0.13);
}