@import 'assets/stylesheets/auth-form-styles';
@import 'assets/stylesheets/tab_menu';
@import 'assets/stylesheets/icon_button';
@import 'assets/stylesheets/user_detail';
@import 'assets/stylesheets/user_projects';

:root {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.MuiButtonBase-root.MuiTabs-scrollButtons.Mui-disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.cursor {
	&-pointer {
		cursor: pointer;
	}
	&-not-allowed {
		cursor: not-allowed;
	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	&-center {
		align-items: center;
	}
}

.Toastify__toast-body {
	white-space: pre-line;
}
